.card {
  background: var(--background);
  color: var(--font-color);
  background-color: transparent;
  border-radius: 10px;
  display: table;
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 1px black solid;
  
}
.poems-container {
  

  grid-gap: 10px;
  /* background-color:#16273f; */
  background-image: url(./authors.jpg);
  background-attachment: fixed;
  color: #444;
  text-size-adjust: 9pt;
  /* border: 1px black solid; */
}
.poems-container div{
  /* border: 1px black solid; */
  
  color: rgb(8, 6, 6);
  margin: 20px;
  margin-left: 20%;    
  margin-right: 20%;
}
.poem{
  background-color:antiquewhite
}
  .homepage{
    background-image: url(./home.png);
    display: block;
    width: 100%;
    height: 790px;
    margin: bottom 10px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
form{
    height: 400px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    /* box-shadow: 0 0 40px rgba(8,7,16,0.6); */
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #000000;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #000000;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
  border-radius: 5px;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(1, 1, 1, 0.27);
  color: #050505;
  text-align: center;
}
.social div:hover{
  background-color: rgba(0, 0, 0, 0.47);
  border-radius: 5px;
}
.social .fb{
  margin-left: 25px;
  border-radius: 5px;
}
.social i{
  margin-right: 4px;
  border-radius: 5px;
}
.center {
  /* background-image: url(./lines.png); */
  background-attachment: fixed;
    display: block;
    height: 110vh;
  width: 100vw;
    margin: bottom 10px;
    background-repeat: repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.author-dets{
  background: var(--background);
    color: var(--font-color);
    box-shadow: 4px 4px 10px black;
    border-radius: 10px;
    border: 1px black solid;
    background-color: transparent;
}